Source/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Source/obj/Debug/WOTV.csproj.AssemblyReference.cache
Source/obj/Debug/WOTV.csproj.CoreCompileInputs.cache
Source/obj/Debug/WOTV.csproj.FileListAbsolute.txt
Source/obj/Debug/WOTV.dll
Source/obj/Debug/WOTV.pdb
Source/SOS2/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Source/SOS2/obj/Debug/SOS2wotv.csproj.AssemblyReference.cache
Source/SOS2/obj/Debug/SOS2wotv.csproj.CoreCompileInputs.cache
Source/SOS2/obj/Debug/SOS2wotv.csproj.FileListAbsolute.txt
Source/SOS2/obj/Debug/Sos2WOTV.dll
Source/SOS2/obj/Debug/Sos2WOTV.pdb
