Source/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Source/obj/Debug/WOTV.csproj.AssemblyReference.cache
Source/obj/Debug/WOTV.csproj.CoreCompileInputs.cache
Source/obj/Debug/WOTV.csproj.FileListAbsolute.txt
